{% macro menu() %}
{% set glitch = false %}
{% if page %}
  {% if page.extra.archive %}
    {% set section = get_section(path="archive/_index.md") %}
  {% elif page.extra.year %}
    {% set section = get_section(path="projects/_index.md") %}
  {% elif page.date %}
    {% set section = get_section(path="notes/_index.md") %}
  {% else %}
    {% set section = get_section(path="meta/_index.md") %}
  {% endif %}

  {% if page.extra.glitch %}
    {% set glitch = page.extra.glitch %}
  {% endif %}
{% endif %}

  <header>
    <nav>
    <a class="headline title-link" href="{{config.base_url}}">
        <div class="logo">
            <div class="home-link">root</div>
        </div>
    </a>
    {% if section %}
      <ul>
        {% if section.title == 'projects' %}
          <li class='active'><a href="/projects"> Project</a></li>
        {% else %}
          <li><a href="/projects"> Project</a></li>
        {% endif %}

        {% if section.title == 'notes' %}
          <li class='active'><a href="/notes"> Notes</a></li>
        {% else %}
          <li><a href="/notes"> Notes</a></li>
        {% endif %}

        {% if section.title == 'meta' %}
          <li class='active'><a href="/meta"> Meta</a></li>
        {% else %}
          <li><a href="/meta"> Meta</a></li>
        {% endif %}

        {% if section.title == 'archive' %}
          <li class='active'><a href="/archive"> Archive</a></li>
        {% else %}
          <li><a href="/archive"> Archive</a></li>
          {% endif %}
      </ul>
     {% if section.pages %}
       <ul>
        {% for subpage in section.pages %}
        {% if current_url == subpage.permalink %}
                <li class='active'>
                    <a href="{{ subpage.permalink }}">{{ subpage.title }}</a>
                </li>
        {% elif glitch and subpage.slug == 'png-glitch-art-tools' %}
          <li class='active'>
            <a href="{{ subpage.permalink }}">{{ subpage.title }}</a>
          </li>
                {% else %}
        <li>
            <a href="{{ subpage.permalink }}">{{ subpage.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
       </ul>
    {% endif %}

    {% if glitch%}
       <ul>
           {% if page.slug == 'glitched-factory' %}
             <li class='active'><a href="/projects/png-glitch-art-tools/glitched-factory/"> Glitched factory</a></li>
           {% else %}
             <li><a href="/projects/png-glitch-art-tools/glitched-factory/"> Glitched factory</a></li>
           {% endif %}

           {% if page.slug == 'arko' %}
             <li class='active'><a href="/projects/png-glitch-art-tools/arko"> Arko</a></li>
           {% else %}
             <li><a href="/projects/png-glitch-art-tools/arko"> Arko</a></li>
           {% endif %}

           {% if page.slug == 'pnglitcher' %}
             <li class='active'><a href="/projects/png-glitch-art-tools/pnglitcher/"> Pnglitcher</a></li>
           {% else %}
             <li><a href="/projects/png-glitch-art-tools/pnglitcher/"> Pnglitcher</a></li>
           {% endif %}

           {% if page.slug == 'rusty-engine' %}
             <li class='active'><a href="/projects/png-glitch-art-tools/rusty-engine/"> Rusty engine</a></li>
           {% else %}
             <li><a href="/projects/png-glitch-art-tools/rusty-engine/"> Rusty engine</a></li>
           {% endif %}

           {% if page.slug == 'shattered-machine' %}
             <li class='active'><a href="/projects/png-glitch-art-tools/shattered-machine/"> Shattered machine</a></li>
           {% else %}
             <li><a href="/projects/png-glitch-art-tools/shattered-machine/"> Shattered machine</a></li>
           {% endif %}

       </ul>
    {% endif %}
    {% else %}
    <ul>
        <li><a href="/projects"> Project</a></li>
        <li><a href="/notes"> Notes</a></li>
        <li><a href="/meta"> Meta</a></li>
        <li><a href="{{ get_url(path="atom.xml", trailing_slash=false) }}" >RSS</a ></li>
    </ul>
    {% endif %}
</nav>
  </header>
{% endmacro %}
