{% set image_url = get_url(path=image_path) | safe %}
<div class="image">
    <div class="left">
        <h3>{{ legend }}</h3>
    </div>
    <div class="right">
        <img src="{{ image_url }}" alt="{{ alt }}" />
    </div>
</div>
