{% set itch_url = get_url(path=url) | safe %}
<iframe src="https://itch.io/embed/1652402?bg_color=1C1C1C&amp;fg_color=E3E3E3&amp;link_color=67093A&amp;border_color=E3E3E3"
                max-width="552px"
                height="167"
                frameborder="0">
    <a href="{{ itch_url }}">Glitched Factory by duckpuck</a>
</iframe>
