body {
  background-color: HSL(0, 0%, 0%);
  color: HSL(38, 14%, 84%);
  max-width: 1100px;
  margin: auto;
  padding: 45px;
  font-size: 1.1rem;
}
a,
a:visited {
  color: HSL(38, 14%, 84%);
}
a:hover,
.grey {
  color: HSL(0, 0%, 60%);
}
details {
  padding: 10px;
  line-height: 1.6rem;
  margin: 20px 0;
  border: 2px solid HSL(38, 14%, 84%);
}
details div {
  padding-left: 15px;
}
.metadata span:not(:last-child):after {
  content: " /";
}
h1 {
  color: HSL(191, 48%, 35%);
}
:not(pre) > code {
  color: HSL(92, 28%, 65%);
  background-color: HSL(0, 0%, 16%);
}
table,
th,
td {
  border: 1px solid HSL(0, 0%, 51%);
}
.page-description {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 30px;
}
nav {
  margin-bottom: 8px;
}
nav > * {
  display: inline-block;
  vertical-align: top;
}
nav > ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  border: 2px solid HSL(38, 14%, 84%);
  margin-bottom: 5px;
}
nav li {
  padding-right: 30px;
}
nav li:not(.active) {
  padding-left: 15px;
}
nav .active::before {
  content: "▹";
}
nav .active {
  color: HSL(0, 0%, 0%);
  background-color: HSL(38, 14%, 84%);
}
nav .active > a {
  color: inherit;
  text-decoration: none;
}
.image {
  text-align: center;
  margin-block: 14px;
}
.image > img {
  max-width: 100%;
}
.image > div {
  display: inline-block;
  vertical-align: middle;
}
.image > .left {
  width: 30%;
}
.image > .right > img {
  max-width: 100%;
}
.small-image > img {
  width: 250px;
}
pre {
  padding: 10px 5px;
  overflow-x: auto;
}
ul {
  list-style-type: circle;
  margin: 4px 0;
}
p {
  margin: 0;
}
p,
ul {
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6,
nav,
details,
.headline {
  font-family: sans-serif;
  margin-bottom: 6px;
}
.logo {
  width: 80px;
  height: 80px;
  background: url(images/logobw.png) no-repeat 0px;
  background-size: 80px auto;
}
.home-link {
  text-align: center;
  line-height: 80px;
}
.page-title {
  display: inline;
  font-weight: 500;
  margin: 0;
}
b,
strong {
  font-weight: 200;
  color: HSL(191, 48%, 35%);
}
.subsections h2 {
  text-transform: capitalize;
  background-color: HSL(38, 14%, 84%);
  color: HSL(0, 0%, 0%);
  margin: 0;
  padding: 6px 14px;
}
.subsection ul {
  list-style-type: none;
}
.subsection {
  border: 2px solid HSL(38, 14%, 84%);
  margin-bottom: 10px;
  max-width: 500px;
  min-width: 49%;
  display: inline-block;
  vertical-align: top;
}
.subsection:nth-child(odd) {
  margin-right: 3px;
}
.subsection:nth-child(even) {
  margin-left: 3px;
}
.headline {
  display: inline-block;
  margin: 0 30px 20px 0;
}
.headline,
.headline:visited {
  color: transparent;
}
.headline:hover {
  color: HSL(0, 0%, 0%);
  text-decoration: none;
}
th {
  min-width: 100px;
  text-align: left;
}
th,
td {
  padding: 10px;
}
table {
  border-collapse: collapse;
  margin-bottom: 10px;
}
h3 {
  margin-inline: 20px;
}
ul,
ol {
  margin-inline: 10px;
}

h4,
h5,
p,
pre,
table,
.image,
iframe {
  margin-inline: 30px;
}
iframe {
  margin-top: 10px;
  width: calc(100% - 40px);
}
footer {
  text-align: center;
  width: 100%;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 2px solid HSL(38, 14%, 84%);
}
footer > a {
  padding-inline: 3px;
}
@media (prefers-color-scheme: light) {
  body {
    background-color: HSL(38, 14%, 84%);
    color: HSL(0, 0%, 0%);
  }
  a,
  a:visited {
    color: HSL(0, 0%, 0%);
  }
  h1 {
    color: HSL(191, 48%, 35%);
  }
  a:hover,
  .grey {
    color: HSL(0, 0%, 40%);
  }
  details {
    border: 2px solid HSL(0, 0%, 0%);
  }
  nav .active {
    background-color: HSL(0, 0%, 0%);
    color: HSL(38, 14%, 84%);
  }
  nav > ul {
    border: 2px solid HSL(0, 0%, 0%);
  }
  footer {
    border-color: HSL(0, 0%, 0%);
  }
  nav {
    background-color: HSL(38, 14%, 84%);
  }
  .subsections h2 {
    background-color: HSL(0, 0%, 0%);
    color: HSL(38, 14%, 84%);
  }
  .subsection {
    border-color: HSL(0, 0%, 0%);
  }
}
@media screen and (max-width: 800px) {
  body {
    padding: 20px;
  }
  h3,
  h4,
  h5,
  p,
  pre,
  table,
  .image {
    margin-inline: 0;
  }
  .subsection > ul {
    padding-left: 20px;
  }
  .subsection:nth-child(odd) {
    margin-right: 0;
  }
  .subsection:nth-child(even) {
    margin-left: 0;
  }
  .headline {
    display: block;
  }
  .image > .left {
    width: 100%;
  }
  nav {
    overflow-x: auto;
    white-space: nowrap;
  }
}
