{% import 'macros/menu.html' as macros_menu -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}{% if page.title %}{{ page.title }} - {% endif %}{{config.title }}{% endblock title %}
    </title>

    {% if page.extra.description %}
    <meta name="description" content="{{ page.extra.description }}">
    {% endif %}

    <link rel="shortcut icon" href="{{ get_url(path="images/logobw.png") | safe }}" type="image/png">

    {% block css %}
    <link rel="stylesheet" href="{{ get_url(path="style.css") | safe }}">
    {% endblock css %}

    {% if config.generate_feed %}
    <link
      rel="alternate"
      type="application/atom+xml"
      title="{{ config.title }} Feed"
      href="{{ get_url(path="atom.xml", trailing_slash=false) }}"
    />
    {% endif %}
  </head>

  <body>
    {{ macros_menu::menu() }}
    {% block content %} {% endblock content %}
  </body>
  <footer>
    <a rel="me" href="https://mastodon.social/@radoteur"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-mastodon" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <path d="M18.648 15.254c-1.816 1.763 -6.648 1.626 -6.648 1.626a18.262 18.262 0 0 1 -3.288 -.256c1.127 1.985 4.12 2.81 8.982 2.475c-1.945 2.013 -13.598 5.257 -13.668 -7.636l-.026 -1.154c0 -3.036 .023 -4.115 1.352 -5.633c1.671 -1.91 6.648 -1.666 6.648 -1.666s4.977 -.243 6.648 1.667c1.329 1.518 1.352 2.597 1.352 5.633s-.456 4.074 -1.352 4.944z"></path>
   <path d="M12 11.204v-2.926c0 -1.258 -.895 -2.278 -2 -2.278s-2 1.02 -2 2.278v4.722m4 -4.722c0 -1.258 .895 -2.278 2 -2.278s2 1.02 2 2.278v4.722"></path>
   </svg></a>
   <a href="{{ get_url(path="atom.xml", trailing_slash=false) }}"><svg xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon icon-tabler ">
   <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 19.5v-.75a7.5 7.5 0 00-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
   </svg></a>
   <a href="https://gitlab.com/users/girflo/projects">
     <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-mastodon" width="24" height="24" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
       <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" />
     </svg>
   </a>
  </footer>
</html>
