{% extends "base.html" %} {% block content %}
<div class="subsections">
  {% set index = get_section(path="_index.md") %} {% for s in index.subsections
  %} {% set subsection = get_section(path=s) %}
  <div class="subsection">
    <h2>{{ subsection.title }}</h2>
    {% if subsection.pages %}
    <ul>
      {% for page in subsection.pages %}
      <li>
        <a href="{{ page.permalink }}"><h3 class="page-title">{{ page.title }}</h3></a>
          {% if page.extra.description %}
          <div class="page-description grey">{{ page.extra.description }}</div>
          {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}  {% endfor %}
</div>
{% endblock content %}
