{% extends "base.html" %} {% block content %}
<div>
  <h1>{{ page.title }}</h1>

  <details open>
    <summary>Metadata</summary>
    {% if page.extra.year %}
      <div>creation year: {{ page.extra.year }}</div>
    {% endif %}

    {% if page.extra.links %}
      <div class="metadata">links:
        {% for link in page.extra.links %}
          <span><a href="{{ link[1] }}" alt="{{ link[0] }}">{{ link[0] }}</a></span>
        {% endfor %}
      </div>
    {% endif %}

    {% if page.taxonomies.tags %}
      <div class="metadata">tags:
        {% for t in page.taxonomies.tags %}
        <span><a href="{{ get_taxonomy_url(kind="tags", name=t) }}">{{ t }}</a></span>
        {% endfor %}
      </div>
      {% endif %}
  </details>
  {{ page.content | safe }}
</div>
{% endblock content %}
