{% extends "base.html" %} {% block content %}
<h1>{{ section.title }}</h1>
{{ section.content | safe }}
{% if section.pages %}
<ul>
  {% for page in section.pages %}
  <li>
    <a href="{{ page.permalink }}"><h3 class="page-title">{{ page.title }}</h3></a>
    {% if page.extra.description %}
      <div class="page-description grey">{{ page.extra.description }}</div>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %} {% endblock content %}
