{% extends "base.html" %} {% block content %}
<div class="subsections">
  <div class="subsection"><h1>{{ taxonomy.name }}</h1></div>
  <ul>
    {% for page in terms %}
    <li>
      <a href="{{ page.permalink }}">{{ page.name }}</a>{% if
      page.extra.description %}
      <div class="page-description grey">{{ page.extra.description }}</div>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock content %}
