{% extends "base.html" %} {% block content %}
<div class="subsections">
  <div class="subsection"><h1>{{ taxonomy.name }} : {{ term.name }}</h1></div>
  <ul>
    {% for page in term.pages %}
    <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>
</div>

{% endblock content %}
